[Pandas docs](https://pandas.pydata.org)

In [2]:
import pandas as pd

In [5]:
# Завдання 1: Створити серію зі списку чисел [10, 20, 30, 40, 50]
ser1 = pd.Series(range(10,60,10))
ser1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
# Завдання 2: Створити DataFrame зі списку списків [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
df2 = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# Завдання 3: Задати індекси для серії з завдання 1 рядками "a", "b", "c", "d", "e"
# Hints: series.index
ser1.index = ["a", "b", "c", "d", "e"]
ser1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [8]:
# Завдання 4: Перейменувати стовпці DataFrame з завдання 2 на "A", "B", "C"
# Hints: df.columns
df2.columns = ["A", "B", "C"]
df2

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
# Завдання 5: Знайти максимальний елемент в серії з завдання 1
ser1_max = ser1.max()
ser1_max

50

In [11]:
# Завдання 6: Знайти середнє значення для кожного стовпця DataFrame з завдання 2
df2_mean = df2.mean(axis=0)
df2_mean

A    4.0
B    5.0
C    6.0
dtype: float64

In [12]:
# Завдання 7: Знайти суму елементів в серії з завдання 1
ser1_sum = ser1.sum()
ser1_sum

150

In [13]:
# Завдання 8: Вибрати всі рядки DataFrame з завдання 2, де значення стовпця "A" менше 5
df2_filtered = df2[df2["A"] < 5]
df2_filtered

   A  B  C
0  1  2  3
1  4  5  6

In [15]:
# Завдання 9: Додати новий стовпець "D" до DataFrame з завдання 2 зі значеннями [10, 20, 30]
df2["D"] = pd.Series([10,20,30])
df2

   A  B  C   D
0  1  2  3  10
1  4  5  6  20
2  7  8  9  30

In [20]:
# Завдання 10: Видалити стовпець "B" з DataFrame з завдання 2
df2 = df2.drop("B", axis=1)
df2

   A  C   D
0  1  3  10
1  4  6  20
2  7  9  30